asgiref
boto3
botocore
cachetools
certifi
chardet
click
coreapi
coreschema
decorator
dj-database-url
Django
django-cors-headers
django-heroku
django-rest-auth
django-storages
djangorestframework
djangorestframework-simplejwt
drf-yasg
facebook-sdk
Faker
ffmpeg-python
future
geocoder
geographiclib
geopy
google-api-core
google-api-python-client
google-auth
google-auth-httplib2
googleapis-common-protos
gunicorn
httplib2
idna
imageio
imageio-ffmpeg
inflection
itypes
Jinja2
jmespath
joblib
MarkupSafe
moviepy
numpy
packaging
pandas
Pillow
proglog
protobuf
psycopg2
pyasn1
pyasn1-modules
PyJWT
pyparsing
python-dateutil
python-decouple
pytz
ratelim
requests
rsa
ruamel.yaml
ruamel.yaml.clib
s3transfer
scikit-learn
scipy
six
sklearn
SpeechRecognition
sqlparse
text-unidecode
threadpoolctl
tqdm
uritemplate
urllib3
wheel
whitenoise
xgboost
yapf
